/* You can add global styles to this file, and also import other style files */

.dialog-on-top .mat-dialog-container {
  position: fixed !important;
  top: 0;
  right: 0;
  margin: 16px;
}

mat-table {
  border: 2px solid lightgrey;
  border-radius: 30px;
  padding: 5px;
}

.table-container {
  position: relative;
  margin: auto;
  align-content: center;
  width: 90%;
}
